@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$primaryColor: #475cb7;
$textLight: #ffffff;
$secondaryColor: #a1332b;

body {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

h2 {
  text-transform: uppercase;
  color: $primaryColor;
}

span {
  font-weight: 600;
  color: $primaryColor;
}

.radio-form {
  background: #efefef;
}

.nav-link {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  margin-left: 1rem;
  color: $textLight;
  &:hover {
    color: $primaryColor;
  }
}

.btn-subscribe {
  background: $primaryColor;
  border-radius: 999px;
  font-size: 14px;
  font-weight: 600;
  color: $textLight;
  outline: none;
  border: 0;
}

.header {
  background: url("../img/header.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  h1 {
    font-weight: 700;
    color: $textLight;
    font-size: 3rem;
  }
  p {
    color: $textLight;
  }
}

.heading {
  background: $primaryColor;
  h1 {
    text-transform: uppercase;
    color: $textLight;
  }
}

.partners {
  .content {
    background: $textLight;
    img {
      width: auto;
      height: 50px;
    }
  }
}

.hyper-reference {
  border-bottom: #a0a0a0 2px solid;
  width: 100%;
  height: 70%;
}

.thick-border {
  width: 100%;
  height: 14px;
  background: $secondaryColor;
}

.gallery {
  display: "block";
  min-height: "10px";
  width: "100%";
  overflow: "auto";
  img {
    width: auto;
    max-height: 200px;
  }
}

.about-bg {
  background: url("../img/about.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
  width: auto;
}

.career-bg {
  background: url("../img/career.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
  width: auto;
}

.contact-bg {
  background: url("../img/contact.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
  width: auto;
}

.single-card {
  img {
    width: auto;
    height: 250px;
  }
}

.footer {
  height: 100%;
  background: rgba($color: #000000, $alpha: 0.8);
  h3 {
    color: $textLight;
  }
  span {
    color: $textLight;
  }
  i {
    color: $textLight;
    font-size: 1.3rem;
  }
  ul {
    list-style: none;
    padding-left: 0;
    li {
      margin-bottom: 0.5rem;
      margin-top: 0.5rem;
    }
  }

  .social {
    padding-left: 1rem;
  }
}

@media screen and (max-width: 990px) {
  .nav-link {
    margin-left: 10px;
  }
  .btn-subscribe {
    margin-left: 7px;
    margin-top: 10px;
  }
  .gallery {
    img {
      width: 100%;
      max-height: 100%;
    }
  }
}
